.nav {
  display: flex;
  justify-content: space-between;
  background-color: black;
  color: white;
  padding: 15px;
  font-size: 2em;
  position: relative; /* This ensures that z-index is respected */
  z-index: 100; /* Higher z-index so that the nav is above the sidebar */
}

.nav a {
  color: white;
  text-decoration: none;
}

.sidebar {
  width: 250px; /* Adjust as needed */
  /* additional styling */
}

.sidebar.hidden {
  width: 0;
  overflow: hidden;
}

.content {
  flex-grow: 1;
  padding: 20px;
  /* additional styling for centered and neat content */
}